html, body {
    font: 20px "Trebuchet MS", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #F2C335;
}

/*
Header
*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

nav {
    display: inline-block;
    word-spacing: 2ch;
    font-size: 1.2em;
}


.heading {
    font-size: 2em;
}

nav > a:hover {
    color: #BFB6AE;
}

.logo {
    vertical-align: middle;
}

.psuedonym {
    vertical-align: middle;
}



/* 
Main Body
*/

main {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    color: black;
    text-align: center;
    top: 0;
    bottom: 0;
    overflow: auto;
    

}

main > * {
    width: 50%;
    height: 60%;
}

main > * > i {
    margin-right: 2vw;
}



#archive {
    text-align: center;
    flex-basis: 20%;

}

#archive > a:hover {
    color: #0F6DBF;
}

#post {
    flex-basis: 70%;
    
}




/*
Columns
*/

/* This selects all columns */


.column1 {
    flex: 1 1 20%;
}

.column2 {
    flex: 1 1 40%;
    border-right: 1px solid;
}

.column3 {
    flex: 1 1 20%;
}


.pjblock {
    margin-right: 2vw;
}

#pj1, #pj2 {
    flex-basis: 50%;
}

#pj2 {
    border-right: none;
}

#pjnull {
    display: none;
}


/*
Footer
*/

.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.footer > * {
    margin-right: 1.5vw;
}

header, .footer {
    background-color: #53739B;
}

/*
Gradient
*/

main {
    background: linear-gradient(231deg, #f2c335, #ee9a66, #d9a679, #bfb6ae, #53739b);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

