html, body {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

/*
Links
*/

a {
    text-decoration: none;
    color: #F2C335;
}

a:visited {
    text-decoration: none;
    color: #F2C335;
}

a:hover {
    border-radius: 10px;
    text-shadow: 10px 10px 20px gray;
}
.column3 > a {
    display: inline-block;
    position: relative;
    line-height: 1.5em;
}

.column3 > a:hover {
    text-shadow: 10px 10px 30px gray;
}

/*
Header
*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

nav {
    display: inline-block;
    word-spacing: 2ch;
    font-size: 1.2em;
}



.heading {
    font-size: 2em;
}

nav > a:hover {
    color: #BFB6AE;
}

.logo {
    vertical-align: middle;
    margin-left: 1vw;
}


.psuedonym {
    vertical-align: middle;
}



/* 
Main Body
*/

main {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    color: black;
    text-align: center;
    top: 0;
    bottom: 0;
    overflow: auto;
    

}

main > * {
    width: 50%;
    height: 60%;
}

main > * > i {
    margin-right: 2vw;
}



#archive {
    position: relative;
    text-align: center;
    flex-basis: 20%;

}

#archive > a:hover {
    color: #0F6DBF;
}

#post {
    flex-basis: 70%;
    margin-left: 5vw;
}

.column1 > p,
.column1 > h1,
.column2 > p,
.column2 > h1,
.column3 > p,
.column3 > h1 {
    position: relative;
    text-align: justify;
    width: 80%;
    margin-right: 20ch;
    line-height: 1.75em;
}

#aboutleft {
    margin-left: 5vw;
}

.albumart {
    margin-top: 5vh;
}

/*
Columns
*/

/* This selects all columns */


.column1 {
    flex: 1 1 20%;
}

.column2 {
    flex: 1 1 40%;
}

.column3 {
    flex: 1 1 20%;
}

.column1, .column2, .column3 {
    position: relative;
    left: -1%;
}



.pjblock {
    padding-right: 2vw;
}

#pj1, #pj2 {
    flex-basis: 50%;
}


#pj2 {
    border-right: none;
}

#pjnull {
    display: none;
}

h2 {
    position: relative;
    left: -2%;
}

/*#landingpage {
    top: 20%;
}*/

/*#landingthree {
    top: 20%;
    left: 5%;
}*/

#formprompt {
    display: block;
    width: 100%;
}

/*
Footer
*/

.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.footer > * {
    margin-right: 1.5vw;
}



/*
Gradient
*/

header, .footer {
    background: linear-gradient(231deg, #bfb6ae, #53739b);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}



