html, body {
    font: 1.1em Tahoma, sans-serif;
    margin: 0;
    color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/*
Header
*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: hsl(180, 87%, 15%);
    padding-left: 2vw;
    padding-right: 2vw;
}

nav {
    display: inline-block;
    word-spacing: 2ch;
    font-size: 1.2em;
}

nav > a {
    color: #fff;
}

.heading {
    font-size: 2em;
}

nav > a:hover {
    color: khaki;
}

.logo {
    vertical-align: middle;
}

.psuedonym {
    vertical-align: middle;
}

/* 
Main Body
*/

main {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 86.5vh;
    width: 100vw;
    align-items: center;
}



main > * {
    margin-bottom: 10%;
    
}

main > * > * {
    margin-left: 8ch;
    margin-right: 8ch;
    margin-top: 5ch;
    margin-bottom: 5ch;
}

main > * > p, main > * > h1 {
    margin-top: 0;
    margin-bottom: 2ch;
}

.albumart {
    margin-left: 7vw;
}

/*
Columns
*/

/* This selects all columns */


.column1 {
    flex: 1 1 20%;
}

.column2 {
    flex: 1 1 40%;
    border-right: 1px solid;
}

.column3 {
    flex: 1 1 20%;
}

/*
Footer
*/

.footer {
    background-color:hsl(180, 87%, 15%);
    bottom: 0;
    line-height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    position: relative;
}

.footer > * {
    margin-right: 1.5vw;
}






