html, body {
    background-image: url("../images/catsdogs.jpg");
    background-position: center top;
    background-repeat: no-repeat;   
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
}

.title {
    font-size: 3rem;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: body;
}

nav {
    display: flex;
    background-color: #808080;
    justify-content:space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: underline;
    color: white;
}